<div class="panel">

    <div fxLayout="column wrap" fxLayoutGap="30px">
        <div fxLayout="row wrap" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID="read"></app-click-switch>
                <div>READ</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID="singleRead" (switchClicked)="switchClicked($event)"></app-click-switch>
                <div>SINGLE</div>
                <div>READ</div>  
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID="punch"></app-click-switch>
                <div>PUNCH</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID="progDisplay"></app-click-switch>
                <div>PROG.</div>
                <div>DISPLAY</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='til'></app-click-switch>
                <div>TIL</div>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='initialInput' (switchClicked)="switchClicked($event)"></app-click-switch>
                <div>INITIAL</div>
                <div>INPUT</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='clearStore'></app-click-switch>
                <div>CLEAR</div>
                <div>STORE</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='extTree'></app-click-switch>
                <div>EXT</div>
                <div>TREE</div>
            </div>

            <!--<div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start start">
                <div>REQ</div>
                <div>NORMAL</div>
                <div>EXT TREE</div>
            </div>-->

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='singleShot' (switchClicked)="switchClicked($event)"></app-click-switch>
                <div>SINGLE</div>
                <div>SHOT</div>
            </div>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div>ONE SHOTS</div>
                <app-dial></app-dial>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='release'></app-click-switch>
                <div>RELEASE</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='stop'></app-click-switch>
                <div>STOP</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='clearAlarum'></app-click-switch>
                <div>CLEAR</div>
                <div>ALARUM</div>
            </div>

        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <!--IS1 to IS3 represent the NIS switches and lights (1, 2, 4) on the instruction staticiser row -->
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS1'></app-light>
                <div>-</div>
                <div>1</div>
                <app-switch switchID='IS1' (switchClicked)="switchClicked($event)"></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS2'></app-light>
                <div>NIS</div>
                <div>2</div>
                <app-switch switchID='IS2' (switchClicked)="switchClicked($event)"></app-switch>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS3'></app-light>
                <div>-</div>
                <div>4</div>
                <app-switch switchID='IS3' (switchClicked)="switchClicked($event)"></app-switch>
            </div>

            <div fxLayoutAlign="center center">***</div>
            
            <!--IS4 to IS8 represent the SOURCE switches and lights (1, 2, 4, 8, 16) on the instruction staticiser row -->
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS4'></app-light>
                <div>-</div>
                <div>1</div>
                <app-switch switchID='IS4' (switchClicked)="switchClicked($event)"></app-switch>
            </div>  

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS5'></app-light>
                <div>-</div>
                <div>2</div>
                <app-switch switchID='IS5' (switchClicked)="switchClicked($event)"></app-switch>
            </div>  

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS6'></app-light>
                <div>SOURCE</div>
                <div>4</div>
                <app-switch switchID='IS6' (switchClicked)="switchClicked($event)"></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS7'></app-light>
                <div>-</div>
                <div>8</div>
                <app-switch switchID='IS7' (switchClicked)="switchClicked($event)"></app-switch>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS8'></app-light>
                <div>-</div>
                <div>16</div>
                <app-switch switchID='IS8' (switchClicked)="switchClicked($event)"></app-switch>
            </div>  

            <div fxLayoutAlign="center center">***</div>

            <!--IS9 to IS13 represent the DESTINATION switches and lights (1, 2, 4, 8, 16) on the instruction staticiser row -->
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS9'></app-light>
                <div>-</div>
                <div>1</div>
                <app-switch switchID='IS9' (switchClicked)="switchClicked($event)"></app-switch>
            </div>  
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS10'></app-light>
                <div>-</div>
                <div>2</div>
                <app-switch switchID='IS10' (switchClicked)="switchClicked($event)"></app-switch>
            </div>  
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS11'></app-light>
                <div>DEST.</div>
                <div>4</div>
                <app-switch switchID='IS11' (switchClicked)="switchClicked($event)"></app-switch>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS12'></app-light>
                <div>-</div>
                <div>8</div>
                <app-switch switchID='IS12' (switchClicked)="switchClicked($event)"></app-switch>
            </div>
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light lightID='IS13'></app-light>
                <div>-</div>
                <div>16</div>
                <app-switch switchID='IS13' (switchClicked)="switchClicked($event)"></app-switch>
            </div>  
    
            <div fxLayoutAlign="center center">***</div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch switchID='char'></app-switch>
                <div>CHAR</div>
            </div> 
        </div>

        <div fxLayout="row" fxLayoutGap="22px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS1'></app-os-light>
                <div>1</div>
                <app-light lightID='ID1'></app-light>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS2'></app-os-light>
                <div>2</div>
                <app-light lightID='ID2'></app-light>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS3'></app-os-light>
                <div>3</div>
                <app-light lightID='ID3'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS4'></app-os-light>
                <div>4</div>
                <app-light lightID='ID4'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS5'></app-os-light>
                <div>5</div>
                <app-light lightID='ID5'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS6'></app-os-light>
                <div>6</div>
                <app-light lightID='ID6'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS7'></app-os-light>
                <div>7</div>
                <app-light lightID='ID7'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS8'></app-os-light>
                <div>8</div>
                <app-light lightID='ID8'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS9'></app-os-light>
                <div>9</div>
                <app-light lightID='ID9'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS10'></app-os-light>
                <div>10</div>
                <app-light lightID='ID10'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS11'></app-os-light>
                <div>11</div>
                <app-light lightID='ID11'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS12'></app-os-light>
                <div>12</div>
                <app-light lightID='ID12'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS13'></app-os-light>
                <div>13</div>
                <app-light lightID='ID13'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS14'></app-os-light>
                <div>14</div>
                <app-light lightID='ID14'></app-light>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS15'></app-os-light>
                <div>15</div>
                <app-light lightID='ID15'></app-light>
            </div>     

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS16'></app-os-light>
                <div>16</div>
                <app-light lightID='ID16'></app-light>
            </div> 
                    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS17'></app-os-light>
                <div>17</div>
                <app-light lightID='ID17'></app-light>
            </div> 
                    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS18'></app-os-light>
                <div>18</div>
                <app-light lightID='ID18'></app-light>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS19'></app-os-light>
                <div>19</div>
                <app-light lightID='ID19'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS20'></app-os-light>
                <div>20</div>
                <app-light lightID='ID20'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS21'></app-os-light>
                <div>21</div>
                <app-light lightID='ID21'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS22'></app-os-light>
                <div>22</div>
                <app-light lightID='ID22'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS23'></app-os-light>
                <div>23</div>
                <app-light lightID='ID23'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS24'></app-os-light>
                <div>24</div>
                <app-light lightID='ID24'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS25'></app-os-light>
                <div>25</div>
                <app-light lightID='ID25'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS26'></app-os-light>
                <div>26</div>
                <app-light lightID='ID26'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS27'></app-os-light>
                <div>27</div>
                <app-light lightID='ID27'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS28'></app-os-light>
                <div>28</div>
                <app-light lightID='ID28'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS29'></app-os-light>
                <div>29</div>
                <app-light lightID='ID29'></app-light>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS30'></app-os-light>
                <div>30</div>
                <app-light lightID='ID30'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS31'></app-os-light>
                <div>31</div>
                <app-light lightID='ID31'></app-light>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-os-light lightID='OS32'></app-os-light>
                <div>32</div>
                <app-light lightID='ID32'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-click-switch switchID='clearOps' (switchClicked)="switchClicked($event)"></app-click-switch>
                <div>CLEAR OPS</div>
                <app-click-switch switchID='clearID' (switchClicked)="switchClicked($event)"></app-click-switch>
                <div>CLEAR ID</div>
            </div> 
        </div> 

        
        <div fxLayout="row" fxLayoutGap="11px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID1' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
                    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-input-switch switchID='ID2' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>NIS</div>
                <div>2</div>
                <app-input-switch switchID='ID3' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>4</div>
                <app-input-switch switchID='ID4' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-input-switch switchID='ID5' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-input-switch switchID='ID6' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>SOURCE</div>
                <div>4</div>
                <app-input-switch switchID='ID7' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-input-switch switchID='ID8' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-input-switch switchID='ID9' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-input-switch switchID='ID10' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-input-switch switchID='ID11' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>DEST.</div>
                <div>4</div>
                <app-input-switch switchID='ID12' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-input-switch switchID='ID13' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-input-switch switchID='ID14' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID15' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID16' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-input-switch switchID='ID17' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-input-switch switchID='ID18' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>WAIT</div>
                <div>4</div>
                <app-input-switch switchID='ID19' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-input-switch switchID='ID20' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-input-switch switchID='ID21' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID22' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID23' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID24' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID25' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-input-switch switchID='ID26' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-input-switch switchID='ID27' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>TIMING</div>
                <div>4</div>
                <app-input-switch switchID='ID28' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-input-switch switchID='ID29' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-input-switch switchID='ID30' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID31' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-input-switch switchID='ID32' (switchClicked)="switchClicked($event)"></app-input-switch>
            </div> 
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
                <div>SPECIAL WORD</div>
            </div> 
        </div>
    </div>
</div>
