<div class="panel">
    <div fxLayout="column" fxLayoutGap="30px">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='read'></app-switch>
                <div>READ</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='singleShot'></app-switch>
                <div>SINGLE</div>
                <div>SHOT</div>  
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='punch'></app-switch>
                <div>PUNCH</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='progDisplay'></app-switch>
                <div>PROG.</div>
                <div>DISPLAY</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='til'></app-switch>
                <div>TIL</div>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='initialInput'></app-switch>
                <div>INITIAL</div>
                <div>INPUT</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='clearStore'></app-switch>
                <div>CLEAR</div>
                <div>STORE</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='extTree'></app-switch>
                <div>EXT</div>
                <div>TREE</div>
            </div>

            <!--<div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start start">
                <div>REQ</div>
                <div>NORMAL</div>
                <div>EXT TREE</div>
            </div>-->

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='singleShot'></app-switch>
                <div>SINGLE</div>
                <div>SHOT</div>
            </div>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div>ONE SHOTS</div>
                <app-dial></app-dial>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='release'></app-switch>
                <div>RELEASE</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='stop'></app-switch>
                <div>STOP</div>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch id='clearAlarum'></app-switch>
                <div>CLEAR</div>
                <div>ALARUM</div>
            </div>

        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='nis1'></app-light>
                <div>-</div>
                <div>1</div>
                <app-switch id='nis1'></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='nis2'></app-light>
                <div>NIS</div>
                <div>2</div>
                <app-switch id='nis2'></app-switch>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='nis4'></app-light>
                <div>-</div>
                <div>4</div>
                <app-switch id='nis4'></app-switch>
            </div>

            <div fxLayoutAlign="center center">***</div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='source1'></app-light>
                <div>-</div>
                <div>1</div>
                <app-switch id='source1'></app-switch>
            </div>  

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='source2'></app-light>
                <div>-</div>
                <div>2</div>
                <app-switch id='source2'></app-switch>
            </div>  

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='source4'></app-light>
                <div>SOURCE</div>
                <div>4</div>
                <app-switch id='source4'></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='source8'></app-light>
                <div>-</div>
                <div>8</div>
                <app-switch id='source8'></app-switch>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='source16'></app-light>
                <div>-</div>
                <div>16</div>
                <app-switch id='source16'></app-switch>
            </div>  

            <div fxLayoutAlign="center center">***</div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                    <app-light id='destination1'></app-light>
                    <div>-</div>
                    <div>1</div>
                    <app-switch id='destination1'></app-switch>
                </div>  
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='destination2'></app-light>
                <div>-</div>
                <div>2</div>
                <app-switch id='destination2'></app-switch>
            </div>  
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='destination4'></app-light>
                <div>DESTINATION</div>
                <div>4</div>
                <app-switch id='destination4'></app-switch>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='destination8'></app-light>
                <div>-</div>
                <div>8</div>
                <app-switch id='destination8'></app-switch>
            </div>
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='destination16'></app-light>
                <div>-</div>
                <div>16</div>
                <app-switch id='destination16'></app-switch>
            </div>  
    
            <div fxLayoutAlign="center center">***</div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch id='char'></app-switch>
                <div>CHAR</div>
            </div> 
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='out1'></app-light>
                <div>1</div>
                <app-light id='in1'></app-light>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='out2'></app-light>
                <div>2</div>
                <app-light id='in2'></app-light>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='out3'></app-light>
                <div>3</div>
                <app-light id='in3'></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light id='out4'></app-light>
                <div>4</div>
                <app-light id='in4'></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>5</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>6</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>7</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>8</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>9</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>10</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>11</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>12</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>13</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>14</div>
                <app-light></app-light>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>15</div>
                <app-light></app-light>
            </div>     

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>16</div>
                <app-light></app-light>
            </div> 
                    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>17</div>
                <app-light></app-light>
            </div> 
                    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>18</div>
                <app-light></app-light>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>19</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>20</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>21</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>22</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>23</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>24</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>25</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>26</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>27</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>28</div>
                <app-light></app-light>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>29</div>
                <app-light></app-light>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>30</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>31</div>
                <app-light></app-light>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-light></app-light>
                <div>32</div>
                <app-light></app-light>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start center">
                <app-switch></app-switch>
                <div>CLEAR OPS</div>
                <app-switch></app-switch>
                <div>CLEAR ID</div>
            </div> 
        </div> 
        
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 
                    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-switch></app-switch>
            </div> 
                
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>NIS</div>
                <div>2</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>4</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>SOURCE</div>
                <div>4</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-switch></app-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>DESTINATION</div>
                <div>4</div>
                <app-switch></app-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-switch></app-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-switch></app-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-switch></app-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>WAIT</div>
                <div>4</div>
                <app-switch></app-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-switch></app-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-switch></app-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 
    
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div>

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>1</div>
                <app-switch></app-switch>
            </div> 
        
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>2</div>
                <app-switch></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>TIMING</div>
                <div>4</div>
                <app-switch></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>8</div>
                <app-switch></app-switch>
            </div> 
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <div>-</div>
                <div>16</div>
                <app-switch></app-switch>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div>
            
            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
            </div> 

            <div fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="end center">
                <app-switch></app-switch>
                <div>SPECIAL WORD</div>
            </div> 
        </div>
    </div>
</div>
